*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header{
    background-color: rgba(0, 0, 255, 0.746);
    color: white;
    padding: 40px 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

section{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

section img{
    border-radius: 50%;
    border: 3px solid blue;
    width: 100px;
    height: 100px;
}

section p {
    text-align: left;
    padding-left: 50px;
}

footer{
    position: fixed;
    background-color: rgba(211, 211, 211, 0.801);
    width: 100%;
    padding: 10px;
}

